<ion-header>
  <ion-toolbar>
    <ion-title>Table of Contents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let chapter of chapters">
    <ion-item [routerDirection]="'root'" [routerLink]="[chapter.url]">
      {{chapter.title}}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer text-center>
  <ion-button disabled="true" [routerDirection]="'root'" [routerLink]="['../toc']"><< Previous</ion-button>
  <ion-button [routerDirection]="'root'" [routerLink]="['../chapter1']">Next >></ion-button>
</ion-footer>